<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.inventos.yum"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="ru.inventos.yum.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/YumBaseTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="ru.inventos.yum.Portion"
            android:label="@string/title_activity_portion"
            android:theme="@style/PortionTheme" >
        </activity>
        <activity
            android:name="ru.inventos.yum.Order"
            android:label="@string/title_activity_order"
            android:theme="@style/DialogTheme" >
        </activity>
        <activity
            android:name="ru.inventos.yum.Login"
            android:label="@string/title_activity_login"
            android:theme="@style/DialogTheme" >
        </activity>
        <activity
            android:name="ru.inventos.yum.LunchInfo"
            android:label="@string/title_activity_lunch_info"
            android:theme="@style/DialogTheme" >
        </activity>
        <activity
            android:name="ru.inventos.yum.FeedbackActivity"
            android:label="@string/title_activity_feedback"
            android:screenOrientation="portrait"
            android:theme="@style/HoloTheme.Light" >
        </activity>
        <activity
            android:name="ru.inventos.yum.MyOrders"
            android:label="@string/title_activity_my_orders"
            android:screenOrientation="portrait"
            android:theme="@style/HoloTheme.Light" >
        </activity>
        <activity
            android:name="ru.inventos.yum.CalendarActivity"
            android:label="@string/title_activity_calendar"
            android:theme="@style/CalendarTheme" >
        </activity>
        <activity
            android:name="ru.inventos.yum.Report"
            android:label="@string/title_activity_report"
            android:screenOrientation="portrait"
            android:theme="@style/YumBaseTheme" >
        </activity>
        <activity
            android:name="ru.inventos.yum.Order2"
            android:label="@string/title_activity_order2"
            android:theme="@style/DialogTheme" >
        </activity>
        <activity
            android:name="ru.inventos.yum.Checkout"
            android:label="@string/title_activity_checkout" 
            android:screenOrientation="portrait"
            android:theme="@style/HoloTheme.Light">
        </activity>
    </application>

</manifest>